.text-center{
    text-align: center;
}
.bg-color{
    background-color: lightcoral;
}
.mx-align{
    /* text-align: center; */
    margin:auto;
}
.flex{
    display:flex;
}
.flex-col{
    /* align-items: center; */
    flex-direction: column;
}
.items-center{
    align-items: center;
}