/* @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
}

.sidebar{
    /* position: absolute; */
    background-color: rgb(64, 64, 146);
    /* width: 150px; */
    font-family: 'Satisfy', cursive;
    height:100vh;
    transition: transform 0.4 ease-in;
  
}

.sidebar nav li{
    padding: 10px 0px 0px 0;

    list-style: none;
    font-size: 25px;
}
.sidebar nav li a {  
    /* padding: 10px 0; */
/*  */
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px rgb(34, 34, 214);



}
.sidebar nav {
    padding: 40px;
}
.main-content{
    background-color: rgb(210, 210, 235);
    width: 100vw;
    height: 100vh;
}
.container{
    display: flex;
}
.info{
    background-color: rgb(205, 184, 239);
    height:80vh;
    width: 80vw;
    border-radius: 50px;
    margin: 80px auto;
    display: flex;
    justify-content: space-around;
    /* position: relative; */

}
.devinfo{
    text-align: center;
    font-size: 25px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.devpic{
    /* background: url; */
    /* width: 100px; */
    /* width: 50px; */
    margin-top: 100px;
    height: 50vh;
    box-shadow: 0px 7px 7px 14px #9f2e92;
}
.intro{
    color:rgb(23, 15, 15);
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* text-align: left; */
}
.name{
    font-size: 35px;
    letter-spacing: 3px;
    word-spacing: 11px;
    color: rgb(116, 45, 19);
    text-shadow: 3px 5px 1px  rgb(236, 211, 211);
}
.about{
    border: 2px solid black;
    border-radius: 50px;
    border-style: dashed;
    border-color: white;
    color: rgb(19, 19, 98);
    margin-top: 5px;
}
.buttons button{
    margin: 5px;
    margin-top: 5px;
    /* float: left; */
    padding: 10px 5px;
    border-radius: 50px;
    border: solid black;
    color: blue;
    background-color: lightblue;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}
.buttons button:hover{
    background-color:white;
}
.contactform{
 
    width:50vw;
    height: 75vh;
    margin: auto;
    text-shadow: 3px 5px 2px  rgb(4, 4, 4);
    margin-top: 100px;
    border: 3px solid black;
    background-color: #c04eb2;
    text-align: center;
    letter-spacing: 2px;
    padding: 15px;
    font-size: 25px;
    color: rgb(245, 239, 239);
   
    font-weight: 700;

    word-spacing: 20px;
    margin-bottom: 150px;
    /* text-decoration: overline; */
    /* text-decoration-line: ; */
    /* text-decoration-color; */


}
.cvborder{
    width: 50vw;
    height: 90vh;
    /* padding: auto; */
    margin: auto;
    border: 2px solid #ce7764;
    border-radius: 50px;
    background-color: #e9cbee;
    /* box-shadow: 5px 5px solid blue; */
    margin-top: 7vh;
    
}
.cvborder:hover{
    box-shadow: 0px 0px 40px #3898b7;
}
.introh{
    /* margin-top: 50px; */
    width: 60vw;
    height: 80vh;
    margin: 100px;
    padding: 20px;
    font-size: 20px;
    word-spacing: 7px;
    border: 2px solid rgb(230, 230, 133);
    border-radius: 20px;
    /* text-decoration: overline; */
    background-color: #eee5d6;
    opacity: 0.7;
}
.introh:hover{
    box-shadow: 0px 0px 40px #3898b7;
    opacity: 1;
    
}
.introh h2{
    font-size: 50px;
    margin-bottom: 20px;
    text-shadow: 2px 7px 7px rgba(255, 255, 255);
    color: rgb(52, 52, 20);


}
.introh b:hover{
    /* margin: 30px; */
    color: #9f2e92;
    padding: 10px;
    margin-top: 20px;
    word-spacing: 7px;
}
.introh p{
    /* font-size: 20px; */
    color: #362b2b;
    /* text-decoration: underline; */
}
.introh ul{
    padding: 15px;
    color: #c12323;
    text-decoration: underline;
}
.introh b{
    color: #1f2621;
}
.skillcontainer{
    margin: auto;
    margin-top: 20px;
    border-radius: 30px;
    padding: 20px;
    /* box-shadow: 0px 5px 5px 4px #b870b0; */
    width: 40vw;
    height: 60vh;
    background-color: white;
    /* text-align: left; */

}
.skillcontainer:hover{
    box-shadow: 0px 5px 5px 4px #b870b0;
}
.skillitem{
    /* display:flexbox; */
    /* justify-content: center; */
    /* display: flexbox; */
    align-items: center;
    justify-content: center;
}
.skill{
    /* display:flex; */
/* */
    width: 10vw;
    height: 5px;
    background-color: red;
    /* padding: 5px; */
    /* margin: 10px; */
    border-radius: 60px;
    border: 2px solid black;

}
.a1{
    width: 9vw;
    background-color: #01f40e;
}
.a2{
    width: 8vw;
    background-color: pink;
}
.a3{
    width: 7vw;
    background-color: yellow;
}
.a4{
    width: 5vw;
    background-color: yellowgreen;
}
.a5{
    width: 2vw;
    background-color: red;
}
.skills-achievements{
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}
.projects{
    margin-top: 10px;
    padding: 10px;
    text-decoration: underline;
}
@media (max-width: 900px){

    .sidebar{
        position: absolute;
        transform: translate(-250px, 0px);

    }
    .devpic{
        display: none;
    }
}
.switch{
    position: relative;
    cursor: pointer;
    top: 10px;
    left: 20px;
    /* align-items: center; */
}
.sidebarGo{
    position: absolute;
    transform: translate(-250px, 0px);
}
.cross{
    margin-left: -6vw;
    /* position: absolute; */
    margin-top: 10px;
    
}
.coding{
    margin-left: 40px;
}